/* ---- portfolio-web-page style ---- */

/* Set all HTML elements with border-box sizing */
body { 
  background-color: #DBDBDB;
  box-sizing: border-box;
}


h1, nav, footer {
  text-align: center;
  font-family: URW Form Extra Light, serif;
}

/* Header - Molly Jones */
h1 {
  letter-spacing: 12px;
  font-size: 55px;
  margin: 80px 80px 4px 80px;
  color: #2B303A;
}

/* Sub-header */
h4 {
  font-family: URW Form Extra Light, serif;
  color: #2B303A;
  text-align: center;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 30px;
  margin: 50px;
}

.header hr {
  margin: 30px 20px 0px 20px;
  background-color: #2B303A;
  height: 4px;
  border: none;
  border-radius: 10px;
}

.intro {
  margin-top: 55px;
}

/* Headshot, float to right of intro text*/
.intro img {
  float: right;
  margin: 40px;
  border-radius: 10px;
}

/* Espresso, float to right of about text */
.about img {
  float: right;
  margin: 40px 10px 40px 40px;
  border-radius: 10px;
}

h2, h3 {
  font-family: URW Form Extra Light, serif;
  color: #5E4C5A;
}

p, ul, ol, a {
  font-family: URW Form Thin, sans-serif;
  letter-spacing: 0.5px;
  text-align: justify;
}

/* nav buttons */
.btn {
  font-size: 15px;
  letter-spacing: 2px;
  padding: 5px 20px;
  text-decoration: none;
}

a:link{ color: grey; }
a:visited { color: white; }
a:hover { color: darkgrey; }
a:active { color: black; }


hr {
  margin: 35px 20px;
  background-color: #048BA8;
  height: 4px;
  border: none;
  border-radius: 10px;
}

.last-hr {
  margin: 35px 20px;
  background-color: #2B303A;
  height: 4px;
  border: none;
  border-radius: 10px;
}

.intro, .about, .contact {
  margin: 55px 85px;
}

footer p {
  font-size: 12px;
  text-align: center;
  margin: 50px;
}